<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >

    <%= render 'layouts/navigation' %>
    <div class="container"">
      <%= yield %>
    </div>
    <p>
      <%= render 'layouts/footer' %>
    </p>
  </body>
</html>
